* {
    font-family: 'Courier New', monospace;
}

body {
    background-color: #DAD7CD;
}

.date {
    color: #344E41;
    /* padding-left: 200px; */
    /* padding-top: -30px; */
    margin-top: -20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    text-align: center;
    padding: 20px;
}

.month_year {
    display: inline-block;
}

.date #prev_month,
.date #next_month {
    background-color: #A3B18A;
    color: #344E41;
    border-radius: 10px;
    margin: 30px;
    color: #344E41;
    padding: 5px; 
}

.date #prev_month button,
.date #next_month button {
    background-color: #A3B18A;
    border: none;
    cursor: pointer;
}

.date #prev_month button:after,
.date #next_month button:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.date #prev_month button:hover,
.date #next_month button:hover {
    background-color: #588157;
    color: #DAD7CD;
    border-radius: 40%;
}

.date #prev_month:hover:after,
.date #next_month:hover:after {
    opacity: 1;
    right: 0;
}

p {
    font-size: 30px;
    margin-top: -15px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -125px;
    text-align: center;
    padding-bottom: 50px;
}

.cards #completed_card,
.cards #remaining_card {
    background-color: #A3B18A;
    border-radius: 10px;
    margin: 25px;
    height: 90px;
    width: 250px;
    color: #344E41;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px; 
}

.cards h1 {
    font-size: 50px;
    margin: 10px;
}

.cards p {
    font-size: 20px;
    margin: 0; 
}

.calendar {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding: 10px;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -115px;
    text-align: center;
    padding: 50px;
}

.days #sun, 
.days #mon, 
.days #tue, 
.days #wed, 
.days #thu, 
.days #fri, 
.days #sat {
    border-radius: 10px;
    color: #344E41;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px; 
}

.days h1 {
    font-size: 30px;
    margin: 10px;
}

th:nth-child(1), 
th:nth-child(2), 
th:nth-child(3),
th:nth-child(4), 
th:nth-child(5),
th:nth-child(6),
th:nth-child(7), 
th:nth-child(8)  {
    display: none;
}

.calendar-days {
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding: 10px;
}

table {
    padding: 20px;
    text-align: center;
}

tr {
    color: #344E41;
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

td {
    border-color: #588157;
    border-style: solid;
    border-radius: 50%;
    padding: 21px;
    margin: 11px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

td:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

td:hover {
    background-color: #344E41;
    color: #DAD7CD;
    border-radius: 40%;
}

td:hover:after {
    opacity: 1;
    right: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    text-align: center;
    padding: 50px;
    position: relative;
}

.buttons button {
    background-color: #344E41;
    border-radius: 10px;
    margin: 25px;
    height: 50px;
    width: 250px;
    color: #A3B18A;
    display: flex;
    justify-content: center;
    padding: 5px; 
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    align-items: center;
    position: relative;
}

.date #reset-cal button {
    background-color: #588157;
    font-size: medium;
    border-radius: 10px;
    margin: 25px;
    color: #DAD7CD;
    display: flex;
    justify-content: center;
    padding: 5px; 
    cursor: pointer;
    transition: 0.5s;
    border: none;
    align-items: center;
    position: relative;
}

.buttons button:after, 
.date #reset-cal button:after, 
.account-btns a:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttons button:hover, 
.date #reset-cal button:hover, 
.account-btns a:hover {
    padding-right: 25px;
    background-color: #A3B18A;
    color: #344E41;
}

.buttons button:hover:after, 
.date #reset-cal button:hover:after, 
.account-btns a:hover:after {
    opacity: 1;
    right: 0;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #DAD7CD;
    margin: 15% auto;
    padding: 20px;
    border-style: groove;
    border-radius: 20px;
    width: 50%;
    color: #344E41;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #344E41;
    text-decoration: none;
    cursor: pointer;
}

.modal-open .calendar-days {
    filter: blur(5px);
}

.account-btns {
    display: flex;
    justify-content: right;
    text-align: center;
}

.account-btns a {
    background-color: #344E41;
    border-radius: 10px;
    margin: 10px;
    color: #A3B18A;
    display: flex;
    padding: 5px; 
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}