* {
  font-family: 'Courier New', monospace;
}

body {
  background-color: #DAD7CD;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

form {
  background-color: #588157;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #DAD7CD;
  background-color: #DAD7CD;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button {
  background-color: #A3B18A;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  color: #344E41;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
}

.container {
  padding: 16px;
  justify-content: center;
  display: grid;
  color: #DAD7CD;
  font-weight: lighter;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.container a {
  background-color: #344E41;
  border-radius: 10px;
  margin: 10px;
  color: #A3B18A;
  display: flex;
  padding: 5px; 
  font-size: larger;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.container a:hover {
  opacity: 0.8;
}